<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo Suite" parallel="false">
  <test name="PDF Verification">
    <classes>
      <class name="com.sqs.test.java.pdfVerification.PDFVerification"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
